.list{
    background-color: white;
}
.card-title{
    text-align:center;
    color: #01579b;
}

.specification{
    background-color: #f0f0f0;
    text-align:center;
}

.selection{
    color:darkred;
    text-align:center;
}

#search {
    width: 70%;
    height: 100%;
    margin-top: 10px;
    margin-left: 70px;
    display: inline-flex;
    justify-content: center;
    float: left;
  }

  
.container-fluid {
    padding-top: 15px;
  
  }

  .filter{
    padding: 15px;
    background: white;
    border: 1px solid;
}
.submit{
    margin-left: 10%;
    margin-bottom: 5px;
    background-color: grey;
    color: white
  }

  .clear{
    margin-left: 10%;
    margin-bottom: 5px;
    background-color: grey;
    color: white
  }

  input[type=number] {
    width: 60px;
    float: left;
  }
  
  .form-group {
    margin-left: 5px;
    margin-right: 20px;
  }
  .custom-slider .ng5-slider  {
    width: 50%;
    float: left;
    margin: 15px 5px 0 5px;
  }
  .form-inline {
    height: 70px;
  }
  .start{
      width:50px
  }
  .end{
    width:50px
}





  