
<nav>
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/search']">
          <img src="../../assets/Picture1.png"
        /></a>
    
        <span id="search">
            <form class="form-inline" (submit)="onSubmit()">
                <div class="form-group">
                    <select name="categ" class="form-control">
                    <option *ngFor="let categ of categs" [value]="categ">{{categ}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search...">
                    <datalist id="SubCategs" name="subCategList">
                      <option *ngFor="let subcateg of subCategs" [value]="subcateg">{{subcateg}}</option>
                    </datalist>
                    <button type="submit" class="btn" ><span class="glyphicon glyphicon-search"></span></button>
                </div>
                </form>
        </span>
        <ul class="nav navbar-nav navbar-right logout">
          <li><a (click)="logout()"><img src="../../assets/pic3.png"/></a></li>
        </ul>
   
    </div>
    
  </nav>



  <div class="row">
    <div class="col-xs-3">
        <div class="filter">
<div>
    <label class="search">Search:  </label>
<button type="submit" class="btn btn-primary submit" (click)="onFilterSubmit()">Save</button>
<button type="submit" class="btn btn-primary clear" (click)="onFilterClear()">Clear</button>
</div>


<label class="form-group">Airflow(CFM)</label><br>
<div class="form-inline custom-slider">
<input type="number" [(ngModel)]="minairflow">
<div class="custom-slider">
<ng5-slider [(value)]="minairflow" [(highValue)]="maxairflow" [options]="options" ></ng5-slider>
</div>
<input type="number" [(ngModel)]="maxairflow">
</div>

<label class="form-group">Max power(W)</label><br>
<div class="form-inline">
<input type="number" [(ngModel)]="minpower">
<div class="custom-slider">
<ng5-slider [(value)]="minpower" [(highValue)]="maxpower" [options]="options1"></ng5-slider>
</div>
<input type="number" [(ngModel)]="maxpower">
</div>

<label class="form-group">Sound at max speed (dBA)</label><br>
<div class="form-inline">
<input type="number" [(ngModel)]="minsoundspeed">
<div class="custom-slider">
<ng5-slider [(value)]="minsoundspeed" [(highValue)]="maxsoundspeed" [options]="options1"></ng5-slider>
</div>
<input type="number" [(ngModel)]="maxsoundspeed">
</div>

<label class="form-group">Fan sweep diameter (in)</label><br>
<div class="form-inline">
<input type="number" [(ngModel)]="mindiameter">
<div class="custom-slider">
<ng5-slider [(value)]="mindiameter" [(highValue)]="maxdiameter" [options]="options1"></ng5-slider>
</div>
<input type="number" [(ngModel)]="maxdiameter">
</div>

<label class="form-group">Height(in)</label><br>
<div class="form-inline">
<input type="number" [(ngModel)]="minheight">
<div class="custom-slider">
<ng5-slider [(value)]="minheight" [(highValue)]="maxheight" [options]="options1"></ng5-slider>
</div>
<input type="number" [(ngModel)]="maxheight">
</div>


</div>
    </div>

    <div class="list">

    <ol class="breadcrumb">
        <li>Mechanical</li>
        <li>HVAC Fans</li>
      </ol>

  <div class="container-fluid">
  <div class="row">
      <div class="col-xs-12 col-sm-2" *ngFor="let product of products  | filter:searchText ">
          
              <div class="thumbnail">
                <img class="product-img" src="../../assets/pro1.png" alt="image" routerLink = "../productdetail">
                <h5 class="card-title align-center">{{product.manufacturer}}</h5>
                <h5 class="card-title align-center">{{product.series}}</h5>
                <h5 class="card-title align-center">{{product.model}}</h5>
                <div class="specification">
                {{product.airflow}} CFM<br>
                {{product.maxpower}} W at max speed<br>
                {{product.sound}}  dBA at max speed<br>
                {{product.diameter}}“  fan sweep diameter
            </div>
            <div class="selection">
                {{product.pastselection}}
            </div>
                <input type="checkbox" (change)="handleCheckbox($event, product)"> Compare
            </div>

            
            </div>


      </div>

     
  </div>

  </div>
</div>


