.search-form {
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    display: inline-block
  
  }

  .lead {
    text-align: center;
  }

  .img-responsive {
    width: 50%;
    margin-left: 25%;
  }


  