<form class="form-inline" (submit)="onSubmit()">
    <div class="search-form">
        <img class="img-responsive" src="assets/pic2.png">
        <p class="lead">Building Product Selection Platform</p>

        <app-search></app-search>
        
    
    <!-- <div class="form-group">
        <select name="categ" class="form-control">
        <option>--</option>
        <option *ngFor="let categ of categs" [value]="categ">{{categ}}</option>
        </select>
    </div>
    <div class="form-group">
        <input list="SubCategs" name="subCateg" class="form-control"/>
        <datalist id="SubCategs" name="subCategList">
          <option *ngFor="let subcateg of subCategs" [value]="subcateg">{{subcateg}}</option>
        </datalist>
        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </div> -->

</div>
    
</form>






